--extra-index-url https://download.pytorch.org/whl/cpu
# UI
streamlit

# YOLO + Torch (3.12-compatible CPU wheels)
ultralytics
torch
torchvision

# utils
pillow
numpy
langchain
langchain-groq
python-dotenv

# IMPORTANT: install headless OpenCV LAST so it overwrites any cv2 already present
opencv-python-headless
