# Streamlit
streamlit>=1.33

# Avoid libGL errors on cloud
opencv-python-headless==4.10.0.84

# YOLO/Ultralytics
ultralytics>=8.3.0

# PyTorch CPU wheels for Python 3.12
torch==2.5.1
torchvision==0.20.1

# Utilities
pillow
numpy
langchain>=0.2
langchain-groq>=0.1.5
python-dotenv>=1.0
